body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
}

.navbar-inverse .navbar-nav>li>a{
  color: white;
  font-weight: lighter;
}

.rsvp{
  width: 100%;
  background-color: #f15252;
  color: white;
  font-size: 1em;
  margin-bottom: 20px;
  border-radius: 10px;
}

.hotel{
  background-color: #2d3032;
  border-radius: 20px;
}

.navFont{
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: lighter;
}

.option{
 font-weight: bolder;
 margin-bottom: 0px;
 border-radius: 0px;
 cursor: pointer;
 color: #000000;
}

p{
  font-family: sans-serif !important;
  font-weight: lighter;
}

.smallFont{
  font-size: 11px;
}

a{
	color:lightgrey;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

a:focus{
	text-decoration: none;
}

.padding20{
	padding: 20px;
}

.listNoDec{
	list-style: none;
}

.fullWidth{
	width: 100%;
}

.eightyWidth{
	width: 80%;
}

.galleryItem{
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  opacity: .7;
  border-radius: 100%;
  box-shadow: 2px 2px 2px #2d3032;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border: none;
}

.galleryItem:hover{
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  opacity: 1;
  border-radius: 100%;
  box-shadow: 2px 2px 2px #2d3032;
}

.roundPhoto{
	border-radius: 100%;
	width: 70%;
	padding: 10px;
	box-shadow: 2px 2px 2px #2d3032;
	opacity: .8;
}

.roundPhoto:hover{
	border-radius: 100%;
	width: 70%;
	padding: 10px;
	box-shadow: 1px 1px 1px #2d3032;
	opacity: 1;
}

.roundPic{
  border-radius: 100%;
  padding: 10px;
  box-shadow: 2px 2px 2px #2d3032;
  opacity: 1;
}

.roundPicReg{
   border-radius: 100%;
  padding: 10px;
  box-shadow: 2px 2px 2px #2d3032;
  opacity: 1;
  background-color: transparent;
}

.roundPicReg:hover{
   border-radius: 100%;
  padding: 10px;
  box-shadow: 2px 2px 2px #2d3032;
  opacity: 1;
  background-color: white;
}


hr{
  border: 2px #000000 solid;
}


.beachBackBlue{
	background-color: #2d3032;
	/*background-blend-mode: soft-light;*/
	background-image: url('./resources/beach.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.beachgifback{
	background-color: #2d3032;
	/*background-blend-mode: soft-light;*/
	background-image: url('./resources/beach.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.noMargin{
	margin: 0;
}

.rounded{
	border-radius: 10px;
}

.partyPhoto{
  filter: grayscale();
}

.partyPhoto:hover{
  filter: none;
}

.bigText{
	font-size: 12vw;
}

.medText{
	font-size: 6vw;
}

.pic{
  opacity: .5;
}

.pic:hover{
  opacity: 1;
}

.noPadding{
  padding: 0px;
}

.noRounded{
	border-radius: 0px;
}

.bold{
  font-weight: bolder;
}

.simpleLight{
  font-weight: lighter;
  font-family: sans-serif;

}

p{
  font-size: 1.5em;
}

.menuItem:hover{
  color: #000000;
}

.themeButton:hover{
  background-color: white;
  border: none;
  border-radius: 4px;
  color:#000000;
}

.themeButton:focus{
  background-color: #000000;
  border: none;
  border-radius: 4px;
  color: #2d3032;
}

.greenText{
	color: #000000;
}

.listGreen{
  color:#000000;
  list-style: none;
}

a{
  color: #000000;
}

a:visited{
  color: #000000;
}

.transparent{
	background-color: transparent;
}

.backWhite{
	background-color: white;
}
